.body2 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.body2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  display: grid;
  grid-template-columns: auto auto auto;
  flex: 1;
  height: 80%;
}

.Col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  user-select: none;
}

.Col:first-child {
  align-items: flex-end;
}

.Col:last-child {
  align-items: flex-start;
}

.correct-border {
  border: 2px solid green;
}

.wrong-border {
  border: 2px solid red;
}

/* New CSS classes */
.hidden {
  display: none;
}

.reduced-spacing {
  margin: 5px;
}