services:
  frontend:
    build: 
      context: .
      dockerfile: Dockerfile.fe
      args:
        VITE_RECAPTCHA_SITE_KEY: ${VITE_RECAPTCHA_SITE_KEY}
        VITE_HCAPTCHA_SITE_KEY: ${VITE_HCAPTCHA_SITE_KEY}
        VITE_MYMEMORY_API_KEY: ${VITE_MYMEMORY_API_KEY}
        VITE_GROQ_API_KEY: ${VITE_GROQ_API_KEY}
        VITE_API_URL_PROD: ${VITE_API_URL_PROD}
        VITE_GEMINI_API_KEY: ${GEMINI_API_KEY}
    image: aliennguyenn/p2nenglish-fe:latest
    expose:
      - "80"
    networks:
      - webnet
    env_file:
      - .env
    depends_on:
      - backend

  backend:
    build: 
      context: .
      dockerfile: Dockerfile.be
    image: aliennguyenn/p2nenglish-be:latest
    expose:
      - "5000"
    networks:
      - webnet
    env_file:
      - .env
    depends_on:
      - mongo

  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - webnet

  proxy:
    build:
      context: .
      dockerfile: Dockerfile.proxy
    image: aliennguyenn/p2nenglish-proxy:latest
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
    networks:
      - webnet

volumes:
  mongo-data:

networks:
  webnet:
