body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
  
#main {
    width: 100%;
    background-color: #f4f4f4;
}
  
#header {
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    padding: 10px 20px;            
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
  
@media (min-width: 1400px) {
    .container {
      max-width: 100%;
    }
}
.fw-bold{
  font-weight: bold;
  font-size: 3rem; /* Tăng kích thước tiêu đề */
  background: linear-gradient(135deg, #2575fc 0%, #6a11cb 100%);
  word-spacing: 5px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 10s linear infinite;
}

.my-5{
    margin-top: 10px !important; 
    margin-bottom: 0px !important;
}
#logo img {
    width: 120px;  
    height: auto;
}

.nav {
    display: flex;
    list-style-type: none;  
    padding: 0;
    margin: 0;
}
.nav a {
    text-decoration: none; 
    transition: all 0.3s ease; 
}
.nav a:hover {
    color: white; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    transform: scale(1.1); 
}
  
.nav a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(135deg, #2575fc 0%, #6a11cb 100%);
    transition: width 0.3s ease;
}
  
.nav a:hover::before {
    width: 100%; 
}

.nav-dn {
    font-size: 16px; 
    font-weight: 600; 
    text-align: center; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    background: linear-gradient(135deg, #2575fc 0%, #6a11cb 100%);
}

#menu {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    display: flex;
}
  
.dsMenu {
    list-style-type: none;
    padding: 0;
    gap: 20px;
    margin: 0;
    display: flex;
    justify-content: space-around;
}
  
.dsMenu li {
    margin: 0 10px;
    display: inline-block;
    position: relative;
}
  
.dsMenu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}
.dsMenu li::before,
.dsMenu li::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background: linear-gradient(135deg, #2575fc 0%, #6a11cb 100%);
  transition: .5s;
}

.dsMenu li::after {
  left: 0;
  bottom: 0px;
}

.dsMenu li::before {
  right: 0;
  top: 0px;
}

.dsMenu li:hover::after,
.dsMenu li:hover::before {
  width: 100%;
}

.img-fluid {
    width: 100%;
    height: auto;
}


  


  
  