/* BASIC */

a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  
}
.input-group label {
  display: block;
  width: 100%;
  text-align: left;
  margin: 10px 0 5px;
}

h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 40px 8px 10px 8px;
  color: #333;
}

/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(135deg, #d0e1ff 0%, #eee4f9 100%);
  transition: background-color 0.3s ease, color 0.3s ease;}

.formContent {
  border-radius: 10px;
  background: linear-gradient(135deg, #9abaf2 0%, #d7b2ff 100%);
  padding: 2rem;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.formFooter {
  padding: 10px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.input-group input {
  border-radius: 8px !important; /* Đảm bảo bo góc */
  overflow: hidden; /* Giúp hiển thị bo góc chính xác */
}

.input-group {
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.eyeIcon, .toggle-password {
  position: absolute;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
}

.eyeIcon{
  top: 50%;
}

.toggle-password {
  top: 70%;
}


.forget-password{
  text-align: right;
  padding-top: 5px;
}

.btn-submit, .btn-primary {
  background: linear-gradient(135deg, #2575fc 0%, #6a11cb 100%);
  margin: 15px auto;
  display: block;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}

.btn-submit{
  border-radius: 7px;
  border: 1px solid #2575fc;
  color: white;
}

.btn-link{
  text-decoration: none;
  color: #333;
  font-weight: 500;
  border: solid 1px #333;
  margin-top: 10px;
}

.btn-link:hover{
  background: linear-gradient(135deg, #2575fc 0%, #6a11cb 100%);
  color: white;
}

.btn-warning{
  background: linear-gradient(135deg, #2575fc 0%, #6a11cb 100%);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

